<div class="row">
    <div class="col-sm-offset-3 col-sm-3">
        <ul class="pagination">
            {% if polls.has_previous %}
                <li class="arrow">
                    <a href="/polls/page/{{ polls.previous_page_number }}/">&laquo;</a>
                </li>
            {% else %}
                <li class="arrow disabled">
                    <a href="">&laquo;</a>
                </li>
            {% endif %}
            {% for page in polls.paginator.page_range %}
                {% if page == polls.number %}
                    <li class="current">
                        <a href="/polls/page/{{ page }}/">{{ page }}</a>
                    </li>
                {% else %}
                    <li>
                        <a href="/polls/page/{{ page }}/">{{ page }}</a>
                    </li>
                {% endif %}
            {% endfor %}
            {% if polls.has_next %}
                <li class="arrow">
                    <a href="/polls/page/{{ polls.next_page_number }}">&raquo;</a>
                </li>
            {% else %}
                <li class="arrow disabled">
                    <a href="">&raquo;</a>
                </li>
            {% endif %}
        </ul>
    </div>
</div>